$demo-button-width: 210px; 
$demo-button-height: 60px; 
$demo-button-border: none;
$demo-button-border-radius: 50px;  
$demo-button-font: Muli; 
$demo-button-font-weight: bold; 
$demo-button-background: #FFFFFF; 
$demo-button-font-size: 16px; 
$demo-button-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1); 
$title-color: #212353; 
$normal-text-font-size: 18px; 
$normal-text-line-height: 160%; 
$learn-more-button-width: 170px; 
$learn-more-button-height: 60px; 
$learn-more-font-size: 18px; 
$h2-font-size: 40px; 
$cards-text-color: #4B5D68; 

body {
    margin: 0; 
    font-family: Muli; 
}

.nav-container {
    display: grid; 
    grid-template-columns: 2fr 1fr 4fr 6fr 2fr; 
    grid-gap: 10px; 
    padding: 10px; 
}

.logo-container {
    grid-column: 2 / span 1; 
}

.nav__links--list {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    grid-column: 3 / span 1; 
    list-style-type: none; 

}

.nav__links--list a {
    text-decoration: none; 
    color: $cards-text-color; 
    
    }

.nav__links--list a:hover {
    font-weight: bold; 
}

.nav__links--list a:visited {
    font-weight: bold; 
}

.nav__links--list a:active {
    font-weight: bold; 
}


.demo-button-container {
    justify-self: end;
    align-self: center; 
    grid-column: 4 / span 1;  
}

.demo-button {
    width: $demo-button-width; 
    height: $demo-button-height; 
    border: none; 
    border-radius: $demo-button-border-radius; 
    font-size: $demo-button-font-size; 
    font-weight: $demo-button-font-weight; 
    box-shadow: $demo-button-shadow; 
    background-color: $demo-button-background; 
}

.fa-arrow-right {
    margin-left: 5px;
    color: #9C69E2;  
}

.section1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    padding: 10px;
    margin: 20px; 
    min-height: 100vh; 
}

.section1__left {
    max-width: 700px; 
}

.section1__right {
    max-width: 850px; 
}

.website-title {
    font-size: 80px; 
    font-weight: bold; 
    color: $title-color;
    line-height: 110%;  
}

.about__text {
    font-size: $normal-text-font-size; 
    line-height: $normal-text-line-height; 
}

.learn-more-button {
    width: $learn-more-button-width; 
    height: $learn-more-button-height; 
    border: none; 
    background-color: #9C69E2; 
    border-radius: $demo-button-border-radius;
    color: #FFFFFF;
    font-size: $learn-more-font-size;  
}


.section2 {
    display: flex; 
    justify-content: center;  
    min-height: 70vh; 
}
.section2-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    background-color:  rgba(240, 99, 184, 0.15);
    border-radius: 50px; 
    max-height: 560px; 
}

.section2__left {
    padding: 20px; 
    margin-left: 20px; 
}

.section2__right {
    padding: 20px; 
    margin-left: 20px; 
}

.section2-title {
    font-size: $h2-font-size; 
    color: $title-color; 
}

.section2-text {
    font-size: $normal-text-font-size; 
    line-height: $normal-text-line-height; 
}

.section3 {
    display: flex; 
    flex-direction: column; 
    align-items: center;  
}

.section3-title {
    font-size: $h2-font-size; 
}

.section3-description {
    font-size: $normal-text-font-size; 
    line-height: $normal-text-line-height; 
    text-align: center; 
}

.section4 {
    display: grid; 
    grid-template-columns: repeat( 2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-gap: 20px; 
    min-height: 70vh; 
}

.card-search {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;  
    padding: 10px; 

    .search-title {
        font-size: 24px; 
        color: $title-color; 
        line-height: 130%; 
    }

    .card-search-text {
        color: $cards-text-color; 
        line-height: $normal-text-line-height; 
    }
}

.card-access {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;  
    padding: 10px; 

    .access-title {
        font-size: 24px; 
        color: $title-color; 
        line-height: 130%; 
    }

    .card-access-text {
        color: $cards-text-color;
        line-height: $normal-text-line-height; 
    } 
    
}

.card-print {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;  
    padding: 10px; 

    .print-title {
        font-size: 24px; 
        color: $title-color; 
        line-height: 130%; 
    }

    .card-print-text {
        color: $cards-text-color; 
        line-height: $normal-text-line-height; 
    }
    
}

.card-security {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;  
    padding: 10px; 

    .security-title {
        font-size: 24px; 
        color: $title-color; 
        line-height: 130%; 
    }

    .card-security-text {
        color: $cards-text-color; 
        line-height: $normal-text-line-height; 
    }

}

.learn-more {
    font-weight: bold; 
}

.section5 {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr; 
}

.section5-container {
    grid-column: 2 / span 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #9C69E2; 
    border: none; 
    border-radius: 50px; 
    max-width: 1118px; 

    .section5-title {
        color: #FFFFFF; 
        align-self: start; 
        padding: 20px; 
        margin-left: 20px; 
        font-size: $h2-font-size; 
    }
}

.testimonial-card {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    background-color: #FFFFFF; 
    border: none; 
    border-radius: 50px; 
    max-width: 645px; 
    padding: 20px; 
    margin-bottom: 50px; 
    box-shadow: 0px 10px red; 
    
    .profile-picture {
        padding: 20px; 
    }
    
    .name {
        font-weight: bold;  
        margin-block-start: 0; 
        padding-top: 20px; 
    }

    .website {
        color: #9C69E2;
        font-size: 14px; 
        margin-block-end: 0; 
        margin-block-start: 0; 
    }

    .testimonial-text {
        color: $cards-text-color; 
        line-height: $normal-text-line-height;
        padding: 20px 20px 20px 0px; 
    }
}

.section6 {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    min-height: 40vh; 
}

.section6-title {
    font-size: $h2-font-size; 
}

.section6-text {
    color: $cards-text-color; 
    line-height: $normal-text-line-height; 
}

.learn-more-button2 {
    width: 170px; 
    height: 60px; 
    background-color:#F063B8; 
    border: none; 
    border-radius: 30%; 
    color: #FFFFFF;  
    font-family: Muli;
    font-weight: bold; 
    margin-right: 10px; 
}

.demo-button2 {
    width: $demo-button-width; 
    height: $demo-button-height; 
    border: none; 
    border-radius: $demo-button-border-radius; 
    font-size: $demo-button-font-size; 
    font-weight: $demo-button-font-weight; 
    box-shadow: $demo-button-shadow; 
    background-color: $demo-button-background; 
}