$demo-button-width: 210px; 
$demo-button-height: 60px; 
$demo-button-border: none;
$demo-button-border-radius: 50px;  
$demo-button-font: Muli; 
$demo-button-font-weight: bold; 
$demo-button-background: #FFFFFF; 
$demo-button-font-size: 16px; 
$demo-button-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1); 
$title-color: #212353; 
$normal-text-font-size: 18px; 
$normal-text-line-height: 160%; 
$learn-more-button-width: 170px; 
$learn-more-button-height: 60px; 
$learn-more-font-size: 18px; 

body {
    margin: 0; 
    font-family: Muli; 
}

.nav-container {
    display: grid; 
    grid-template-columns: 2fr 1fr 4fr 6fr 2fr; 
    grid-gap: 10px; 
    padding: 10px; 
}

.logo-container {
    grid-column: 2 / span 1; 
}

.nav__links--list {
    display: flex; 
    justify-content: space-around; 
    grid-column: 3 / span 1; 
    list-style-type: none; 

}

.nav__links--list a {
    text-decoration: none; 
    
    }

.nav__links--list a:hover {
    font-weight: bold; 
}

.nav__links--list a:visited {
    font-weight: bold; 
}

.nav__links--list a:active {
    font-weight: bold; 
}


.demo-button-container {
    justify-self: end;
    align-self: center; 
    grid-column: 4 / span 1;  
}

.demo-button {
    width: $demo-button-width; 
    height: $demo-button-height; 
    border: none; 
    border-radius: $demo-button-border-radius; 
    font-size: $demo-button-font-size; 
    font-weight: $demo-button-font-weight; 
    box-shadow: $demo-button-shadow; 
    background-color: $demo-button-background; 
}

.fa-arrow-right {
    margin-left: 5px;
    color: #9C69E2;  
}

.section1 {
    display: flex; 
    justify-content: center;
    padding: 10px;
    margin: 20px; 
    min-height: 100vh; 
}

.section1__left {
    max-width: 700px; 
}

.section1__right {
    max-width: 850px; 
}

.website-title {
    font-size: 80px; 
    font-weight: bold; 
    color: $title-color;
    line-height: 110%;  
}

.about__text {
    font-size: $normal-text-font-size; 
    line-height: $normal-text-line-height; 
}

.learn-more-button {
    width: $learn-more-button-width; 
    height: $learn-more-button-height; 
    border: none; 
    background-color: #9C69E2; 
    border-radius: $demo-button-border-radius;
    color: #FFFFFF;
    font-size: $learn-more-font-size;  
}
